@import 'styles/Palette/Palette.scss';

.Topbar {
  width: 100%;
  height: 170px;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5rem;

  &-SearchWrapper {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    border: 1.5px solid $lighterGray;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;

    &:focus-within {
      outline: none;
      border: 1.5px solid $main;
    }

    & > input {
      width: 220px;
      max-width: 220px;
      border: none;
      outline: none;
    }

    &-Icon {
      color: $main;
      font-size: 25px;
      font-weight: bold;
      margin-right: 10px;
    }
  }

  &-Login {
    border-radius: 25px;
    background-color: $main;
    border: none;
    outline: none;
    color: $white;
    font-size: 18px;
    padding: 7px 12px;
    box-shadow: 0px 3px 6px rgba($color: $black, $alpha: 0.45);
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}
