.myPage {
    &-loan {
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: white;
        margin: 4.5% 4% 4% 2%;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        
        &-book {
            flex: 1;
            border-bottom: 1px solid #9B9B9B;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 5%;
            color: #0F4C81;
        }
    }
}