$main: #0f4c81;
$white: #f2f2f2;
$grey: #717171;
$gray: #707070;
$lightengray: #9b9b9b;
$darkGray: #535353;
$lighterGray: #888888;
$lightBlue: #f4f7fa;
$black: #000000;
$lighterGray: rgba(155, 155, 155, 0.5);
$skyBlue: #e5eaef;
