@import 'styles/Palette/Palette.scss';

.MainNoticeImg {
  width: 100%;
  height: 90%;
  background-image: url('../../../assets/images/backgrounds/MainNoticeBackground.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
}

.MainNotice {
  width: 100%;
  height: 100vh;
  z-index: 1;
  &-Wrap {
    width: 46.6vw;
    height: 100%;
    // background-color: red;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-TopTitle {
      font-size: 3.13rem;
      color: $main;
      margin-bottom: 2.1vh;
    }
    &-SubTitle {
      font-size: 1.07rem;
      margin-bottom: 7vh;
    }
    &-Card {
      width: 100%;
      height: 29vh;
      background-color: $lightBlue;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 3px 9px rgba($color: $black, $alpha: 0.16);
      &-InnerItem {
        width: 97%;
        height: 26.8vh;
        background-color: #fff;
        border-radius: 8px;
        &-Wrapper {
          padding: 2.15vh 1.2vw;
          width: 100%;
          height: 24vh;
          border-bottom: 1px solid rgba($color: #dddddd, $alpha: 0.47);
          &-TopTitle {
            font-size: 1.4rem;
            margin-bottom: 2vh;
          }
          &-UnderText {
            width: 100%;
            font-size: 18px;
            // height: 16vh;
            word-break: break-all;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
          &-Date {
            width: 100%;
            height: 2.7vh;
            display: flex;
            align-items: center;
            padding-left: 1.2vw;
            font-size: 15px;
            color: #555555;
          }
        }
      }
    }
    &-ButtonWrap {
      margin-top: 4.7vh;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      &-Button {
        width: 8vw;
        height: 4.7vh;
        border: none;
        background-color: $main;
        border-radius: 50px;
        color: #fff;
        font-size: 20px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.45);
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
    }
  }
}

.disabledButton {
  background-color: $lightengray;
  cursor: default;
  &:focus {
    outline: none;
  }
}
