@import 'styles/Palette/Palette.scss';

@mixin InputStyle() {
  width: 100%;
  height: 31px;
  border: none;
  border-bottom: 1px solid $lightengray;
  font-size: 25px;
  color: $grey;
  background-color: rgba($color: #fff, $alpha: 0);

  &:focus {
    outline: none;
    border-bottom: 2px solid rgba($color: $main, $alpha: 0.71);
    &::placeholder {
      color: $main;
    }
  }
  &::placeholder {
    color: $grey;
  }
}

.Login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-Title {
    color: $main;
    font-size: 50px;
  }
  &-IdInput {
    margin: 15vh 0px 11vh 0px;
    @include InputStyle();
  }
  &-PwInput {
    @include InputStyle();
    margin-bottom: 4vh;
  }
  &-Anther {
    width: 100%;
    &-Approach {
      font-size: 1rem;
      color: $main;
      cursor: pointer;
    }
    margin-bottom: 4vh;
  }
  &-LoginButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 4.5vh;
    background-color: $main;
    color: $white;
    font-size: 1.5rem;
    border-radius: 50px;
    cursor: pointer;
  }
}
