@import 'styles/Palette/Palette.scss';

@mixin flexStyle() {
	display: flex;
	display: -webkit-flex;
}

.SearchBook {
	width: 100%;
	height: calc(100vh - 170px);
	margin-top: 1rem;

	@include flexStyle();
	flex-direction: column;
	-ms-flex-direction: column;
	align-items: center;

	&-Background {
		background-image: url('../../assets/images/backgrounds/SearchBackground.png');
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: -1;
	}

	&-TopWrapper {
		@include flexStyle();

		&-InputWrapper {
			@include flexStyle();
			align-items: center;
			border: 2px solid $main;
			border-radius: 10px;
			margin-right: 1rem;
			padding: 10px;

			&-InputBox {
				@include flexStyle();
				align-items: center;

				&-Icon {
					margin-right: 15px;
				}

				& > input {
					width: 500px;
					max-width: 500px;
					border: none;
					outline: none;
				}
			}

			&-InputIcon {
				color: $main;
				font-size: 22px;
				cursor: pointer;
			}
		}

		&-Button {
			background-color: $main;
			color: $white;
			width: 100px;
			border-radius: 25px;
			border: none;
			outline: none;
			cursor: pointer;
		}
	}

	&-UnderBorder {
		width: 70%;
		border: 0;
		height: 2px;
		background-color: $main;
		margin-top: 3rem;
	}

	&-SearchList {
		width: 70%;
		overflow: auto;
		@include flexStyle();
		flex-grow: 1;
		flex-direction: column;
		-ms-flex-direction: column;
		justify-content: center;
		align-items: center;

		&-NoSearch {
			letter-spacing: 0.1em;
			font-size: 7rem;
		}

		&-SubTitle {
			margin-left: -10px;
			margin-top: -1rem;
			font-size: 20px;
		}
	}
}
